.productCard {
  align-content: center;
  height: 150px;
  max-width: 25%;
  width: 20%;
  border: 1px solid black;
  padding: 15px;
  align-items: center;
  margin: 15px;
}
.productCardItems {
  margin: 0 5px;
}
